body {
	background-color: #44006B;
}

#zastavka1 {
	margin-left: 50px;
	margin-bottom: 285px;
	margin-right: 100px;
	margin-top: -100px;
}

#VK1 {
	margin-left: 370px;
	margin-bottom: 285px;
	margin-right: 100px;
	margin-top: -555px;
}

#Tik_Tok1 {
	margin-left: 450px;
	margin-bottom: 500px;
	margin-right: 100px;
	margin-top: -470px;
}

#You_Tube1{
	margin-left: 525px;
	margin-bottom: 500px;
	margin-right: 100px;
	margin-top: -555px;
}

#Telegram1 {
	margin-left: 620px;
	margin-bottom: 500px;
	margin-right: 100px;
	margin-top: -555px;
}

#Tutorial {
	margin-left: 700px;
	margin-bottom: 280px;
	margin-right: 340px;
	margin-top: -345px;
}

#maus11{
	margin-left: 50px;
	margin-bottom: 285px;
	margin-right: 250px;
	margin-top: -250px;
}

#yiga11{
	margin-left: 480px;
	margin-bottom: 285px;
	margin-right: 100px;
	margin-top: -540px;
}

#fv_4005111{
	margin-left: 920px;
	margin-bottom: 100px;
	margin-right: 100px;
	margin-top: -540px;
}

#Amx501001 {
	margin-left: 50px;
	margin-bottom: 285px;
	margin-right: 400px;
	margin-top: -50px;
}

#Maushen11{
	margin-left: 480px;
	margin-bottom: 285px;
	margin-right: 100px;
	margin-top: -490px;
}


