body {
	background-color: #44006B;
	min-width: 1170px;
}

#tutorialvideo1 {
	margin-left: 240px;
	margin-top: 110px;
}

#texttutorial1 {
	color: #FFFFFF;
}

#texttutorial1 {
	margin-top: -1000px;
	margin-left: 140px;
}

#waringtutorial1 {
	color: #FF060D;
}

#waringtutorial1 {
	margin-top: -200px;
	margin-left: 400px;
}

