body {
	background-color: #44006B;
	min-width: 1170px;
}

#tutorialvideo1 {
	margin-left: 220px;
	margin-top: 120px;
}

#texttutorial1 {
	color: #FFFFFF;
}

#texttutorial1 {
	margin-top: -1000px;
	margin-left: 120px;
}

#waringtutorial1 {
	color: #FF060D;
}

#waringtutorial1 {
	margin-top: -200px;
	margin-left: 380px;
}

